<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <script src="@Url.Content("~/JS/Common/ViewInOutStoreWayBillDetail.js")" type="text/javascript"></script>
</head>
<body>
    <div id="toolBarInOutStoreDetail" style="padding: 1px; height: auto">
        总运单号:<input type="text" id="txtCode_InOutStoreDetail" name="txtCode_InOutStoreDetail"  style="width:110px" value='@ViewData["Detail_wbSerialNum"]'/>
        出入库类型:<input type="text" id="ddlInOutStoreType" name="ddlInOutStoreType" style="width: 90px" />
        <input  type="hidden" id="hid_InOutStoreType" value='@ViewData["Detail_InOutStoreType"]'/>
        分运单号:<input type="text" id="txtSubWayBillCode_InOutStoreDetail" style="width: 110px"
            name="txtSubWayBillCode_InOutStoreDetail" />
        <a href="#" id="btnInOutStoreDetailQuery" name="btnInOutStoreDetailQuery" class="easyui-linkbutton"
            data-options="iconCls:'icon-search'">查询</a>&nbsp;<font style="color: Red">总运单号、子运单号必须精确方可查询出记录</font>
        <a href="javascript:void(0)" id="menuButtonInOutStoreDetailReport_dlg" class="easyui-menubutton"
            data-options="menu:'#menuButtons_InOutStoreDetaildlg',iconCls:'icon-report',plain:false">
            报表</a>
        <div id="menuButtons_InOutStoreDetaildlg" style="width: 150px;">
            <div id="btnPrint_InOutStoreDetaildlg" name="btnPrint_InOutStoreDetaildlg" data-options="iconCls:'icon-print'">
                打印(PDF)</div>
            <div id="btnExcel_InOutStoreDetaildlg" name="btnExcel_InOutStoreDetaildlg" data-options="iconCls:'icon-excel'">
                导出(Excel)</div>
        </div>
    </div>
    <div id="DG_InOutStoreDetail" fit="true" style="width: 800px; height: 450px">
    </div>
</body>
</html>
