@{
    ViewBag.Title = "Index";
    Layout = "~/Views/HuayuMain/_Layout.cshtml";
}
<div id="layout_Main" class="easyui-layout" data-options="fit:true,border:false">
    <div region="north" split="false" style="height: 30px; padding: 2px" border="true">
        <span style="float: left; font-weight: bold; font-size: medium">&nbsp;&nbsp;&nbsp; 当前登录:<font
            style="color: Red">@Session["Global_Huayu_UserName"]</font> &nbsp;&nbsp;&nbsp;<span
                class="bs"> <a class="styleswitch black" style="cursor: pointer" rel="black"></a>
                <a class="styleswitch bootstrap" style="cursor: pointer" rel="bootstrap"></a><a class="styleswitch cupertino"
                    style="cursor: pointer" rel="cupertino"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="styleswitch dark-hive"
                        style="cursor: pointer" rel="dark-hive"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="styleswitch gray"
                            style="cursor: pointer" rel="gray"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="styleswitch default"
                                style="cursor: pointer" rel="default"></a> &nbsp;&nbsp;&nbsp;&nbsp;<a class="styleswitch metro"
                                    style="cursor: pointer" rel="metro"></a> &nbsp;&nbsp;&nbsp;&nbsp;<a class="styleswitch metro-blue"
                                        style="cursor: pointer" rel="metro-blue"></a> &nbsp;&nbsp;&nbsp;&nbsp;<a class="styleswitch metro-gray"
                                            style="cursor: pointer" rel="metro-gray"></a> &nbsp;&nbsp;&nbsp;&nbsp;<a class="styleswitch metro-green"
                                                style="cursor: pointer" rel="metro-green"></a> &nbsp;&nbsp;&nbsp;&nbsp;<a class="styleswitch metro-orange"
                                                    style="cursor: pointer" rel="metro-orange"></a>
                &nbsp;&nbsp;&nbsp;&nbsp;<a class="styleswitch metro-red" style="cursor: pointer"
                    rel="metro-red"></a> &nbsp;&nbsp;&nbsp;&nbsp;<a class="styleswitch pepper-grinder"
                        style="cursor: pointer" rel="pepper-grinder"></a> &nbsp;&nbsp;&nbsp;&nbsp;<a class="styleswitch sunny"
                            style="cursor: pointer" rel="sunny"></a> </span></span><span style="float: right"><span
                                id="lblCurrentDate"></span>&nbsp;&nbsp;&nbsp;<a href="#" id="btnRelogin" class="easyui-linkbutton"
                                    data-options="iconCls:'icon-exit'">注销</a>&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div region="west" split="true" style="width: 150px;" border="false">
        <div id="LeftNavigation" class="easyui-accordion" fit="true">
            <div title="入库管理" style="overflow: auto;">
                <center>
                    <br />
                    <a href="#" id="btnForeStore" class="easyui-linkbutton">预&nbsp;入&nbsp;库&nbsp;查&nbsp;询</a>
                    <br />
                    <br />
                    <a href="#" id="btnWayBillWeight" class="easyui-linkbutton">计&nbsp;费&nbsp;重&nbsp;量&nbsp;修&nbsp;改</a>
                    <br />
                    <br />
                    @* <a href="#" id="btnWayBillPatchIn" class="easyui-linkbutton">&nbsp;批量入仓(Txt)&nbsp;</a>
                    <br />
                    <br />
                    <a href="#" id="btnWayBillPatchInExcel" class="easyui-linkbutton">批量入仓(Excel)</a>*@
                    <a href="#" id="btnConfirmInStore" class="easyui-linkbutton">确&nbsp;&nbsp;认&nbsp;&nbsp;入&nbsp;&nbsp;仓</a>
                </center>
            </div>
            <div title="查验管理" style="overflow: auto;">
                <center>
                    <br />
                    <br />
                    <a href="#" id="btnCustomsCheck" class="easyui-linkbutton">查&nbsp;&nbsp;验&nbsp;&nbsp;布&nbsp;&nbsp;控</a>
                    <br />
                    <br />
                    <a href="#" id="btnCustomsConfirm" class="easyui-linkbutton">查&nbsp;&nbsp;验&nbsp;&nbsp;放&nbsp;&nbsp;行</a>
                </center>
            </div>
            <div title="出库管理" style="overflow: auto;">
                <center>
                    <br />
                    <br />
                    @*<a href="#" id="btnWayBillPatchOut" class="easyui-linkbutton">&nbsp;批量出仓(Txt)&nbsp;</a>
                    <br />
                    <br />
                    <a href="#" id="btnWayBillPatchOutExcel" class="easyui-linkbutton">批量出仓(Excel)</a>*@
                    <a href="#" id="btnInStore" class="easyui-linkbutton">批&nbsp;&nbsp;量&nbsp;&nbsp;出&nbsp;&nbsp;仓</a>
                    <br />
                    <br />
                    <a href="#" id="btnPrintWayBill_Main" class="easyui-linkbutton">打&nbsp;印&nbsp;提&nbsp;货&nbsp;单</a>
                    <br />
                    <br />
                    <a href="#" id="btnUnReleasedWayBill_Main" class="easyui-linkbutton">扣&nbsp;&nbsp;货&nbsp;&nbsp;处&nbsp;&nbsp;理</a>
                    <br />
                    <br />
                    <a href="#" id="btnRejectWayBill_Main" class="easyui-linkbutton">退&nbsp;&nbsp;货&nbsp;&nbsp;处&nbsp;&nbsp;理</a>
                    @*<br />
                    <br />
                    <a href="#" id="btnQueryRejectSubWayBillInfo" class="easyui-linkbutton">查&nbsp;询&nbsp;退&nbsp;货&nbsp;信&nbsp;息</a>*@
                </center>
            </div>
            <div title="库区管理" style="overflow: auto;">
                <center>
                    <br />
                    <br />
                    <a href="#" id="btnQueryStatus" class="easyui-linkbutton">货&nbsp;物&nbsp;状&nbsp;态&nbsp;查&nbsp;询</a>
                    <br />
                    <br />
                    <br />
                    <a href="#" id="btnHuayu_QueryMainFrame" class="easyui-linkbutton">&nbsp;库&nbsp;&nbsp;存&nbsp;&nbsp;查&nbsp;&nbsp;询&nbsp;</a><br />
                    @*<br />
                    <br />
                    <a href="#" id="btnInStore" class="easyui-linkbutton">已入库查询</a>
                    <br />
                    <br />
                    <a href="#" id="btnOutStore" class="easyui-linkbutton">已出库查询</a>*@
                </center>
            </div>
            <div title="异常处理" style="overflow: auto;">
                <center>
                    <br />
                    <br />
                    <a href="#" id="btnExceptionStore" class="easyui-linkbutton">&nbsp;&nbsp;异常件处理&nbsp;&nbsp;</a>
                    <br />
                    <br />
                    @* <a href="#" id="btnInOutStoreExceptionEvent" class="easyui-linkbutton">&nbsp;异常事件查询&nbsp;</a>
                    <br />
                    <br />
                    <a href="#" id="btnViewExceptionStoreHistory" class="easyui-linkbutton">历史异常件处理记录</a>
                    <br />
                    <br />*@
                </center>
            </div>
            <div title="报表管理" style="overflow: auto;">
                <center>
                    <br />
                    <a href="#" id="btnQuery" class="easyui-linkbutton">报&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;表</a><br />
                    <br />
                    <br />
                    <a href="#" id="btnWayBillDailyReport" class="easyui-linkbutton">销&nbsp;&nbsp;售&nbsp;&nbsp;日&nbsp;&nbsp;报</a><br />
                    <br />
                    @*<a href="#" id="btAnanalyseStatistic" class="easyui-linkbutton">货物统计分析</a>*@
                </center>
            </div>
            <div title="系统管理" style="overflow: auto;">
                <center>
                    <br />
                    <a href="#" id="btnUserManage" class="easyui-linkbutton">用&nbsp;户&nbsp;信&nbsp;息&nbsp;维&nbsp;护</a>
                    <br />
                    <br />
                    <a href="#" id="btnEmailManage" class="easyui-linkbutton">邮&nbsp;件&nbsp;信&nbsp;息&nbsp;维&nbsp;护</a>
                    <br />
                    <br />
                    <a href="#" id="btnPwdManage" class="easyui-linkbutton">密&nbsp;&nbsp;&nbsp;码&nbsp;&nbsp;&nbsp;管&nbsp;&nbsp;&nbsp;理</a>
                    <br />
                    <br />
                    <a href="#" id="btnQuery" class="easyui-linkbutton">税&nbsp;&nbsp;费&nbsp;&nbsp;设&nbsp;&nbsp;置</a>
                    <br />
                    <br />
                    <a href="#" id="btnFeeSetting" class="easyui-linkbutton">费&nbsp;&nbsp;&nbsp;率&nbsp;&nbsp;&nbsp;设&nbsp;&nbsp;&nbsp;置</a>
                </center>
            </div>
        </div>
    </div>
    <div region="center" style="background: #eee;" border="false" split="true">
        <div id="tab_Content" class="easyui-tabs" fit="true" border="false">
            <div title="使用指南" style="padding: 0px;">
            </div>
        </div>
    </div>
    <div region="south" split="true" style="height: 30px;" border="false">
        <div align="center">
            CopyRight@2006-2012 <a target="_blank" href="http://www.chinabetter.com">www.chinabetter.com</a></div>
    </div>
</div>
<div id="mm" class="easyui-menu" style="width: 150px; display: none">
    <div id="mm-tabupdate" iconcls="icon-reload">
        刷新</div>
    <div class="menu-sep">
    </div>
    <div id="mm-tabclose">
        关闭</div>
    <div id="mm-tabcloseall">
        全部关闭</div>
    <div id="mm-tabcloseother">
        除此之外全部关闭</div>
    <div class="menu-sep">
    </div>
    <div id="mm-tabcloseright">
        当前页右侧全部关闭</div>
    <div id="mm-tabcloseleft">
        当前页左侧全部关闭</div>
    <div class="menu-sep">
    </div>
    <div id="mm-exit">
        退出</div>
</div>
<div id="dlg_Print" fit="true" data-options="iconCls:'icon-print'" style="padding: 1px;
    display: none">
</div>
<div id="dlg_GlobalPrint" fit="true" data-options="iconCls:'icon-print'" style="padding: 1px;
    display: none">
    @*    <div id="p" class="easyui-progressbar" data-options="value:60" style="width:400px;"></div>*@
    <iframe src="" style="width: 98%; height: 98%" id="frmPrintURL"></iframe>
</div>
<div id="dlg_GlobalDetail" fit="true" data-options="iconCls:'icon-save'" style="padding: 1px;
    width: 400px; height: 300px;">
</div>
<div id="dlg_GlobalPrintSheet" fit="true" data-options="iconCls:'icon-save'" style="padding: 1px;
    width: 400px; height: 300px;">
</div>
<div id="dlg_MsgAlert" style="padding: 1px; display: none">
    <input type="text" style="display: block; width: 0px; height: 0px; border: 0" id="txtGlobalTextInput"
        name="txtGlobalTextInput" />
    <div id="msgContent">
    </div>
</div>
