<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <script src="@Url.Content("~/JS/Customer/CustomerSceneConfirmCheckDetail.js")" type="text/javascript"></script>
</head>
<body>
    <div id="toolBarDetail" style="padding: 2px; height: auto">
        <a href="#" class="easyui-linkbutton" id="btnSeleAll_SubWayBill" iconcls="icon-seleall"
            plain="true">全选</a>|<a href="#" class="easyui-linkbutton" id="btnInverseSele_SubWayBill"
                iconcls="icon-inversesele" plain="true">反选</a>|<a href="#" class="easyui-linkbutton"
                    id="btnConfirmScenseCheck_SubWayBill" iconcls="icon-check" plain="true">审核</a>|<a href="#"
                        class="easyui-linkbutton" id="btnUnConfirmScenseCheck_SubWayBill" iconcls="icon-uncheck"
                        plain="true">取消审核</a>&nbsp;&nbsp;&nbsp;<input  type="hidden" id="hid_wbID" name="hid_wbID" value='@ViewData["Detail_wbID"]'/>
        <span>总运单号:<font style="font-weight: bold; color: Red">@ViewData["Detail_wbSerialNum"]</font>&nbsp;&nbsp;&nbsp;分运单号:<input
            type="text" id="txtSubWayBillCode" name="txtSubWayBillCode" /></span>&nbsp;<a href="#"
                id="btnQuery_Detail" name="btnQuery_Detail" class="easyui-linkbutton" data-options="iconCls:'icon-search'">
                查询</a>
    </div>
    <div id="DG_SubWayBillDetail" fit="true">
    </div>
</body>
</html>
