<!DOCTYPE html>
<html>
<head>
    <title>求助中心</title>
</head>
<body>
    <h2>
        发送邮件求助</h2>
    <form method="post" action="ProcessRequest">
    <div>
        你的姓名:
        <input type="text" name="customerName" />
    </div>
    <div>
        你的问题描述:
        <br />
        <textarea name="customerRequest" cols="45" rows="4">
</textarea>
    </div>
    <div>
        <input type="submit" value="Submit" />
    </div>
    </form>
</body>
</html>
